.form {
  max-width: 1200px;
}

.collapse {
  background: white;
}

.collapse :global(.ant-collapse-header) {
  padding: 5px 16px !important;
}

.collapse :global(.ant-collapse-header .ant-collapse-expand-icon) {
  margin: 5px 0 0;
}

.collapse :global(.ant-collapse-content .ant-collapse-content-box) {
  padding: 5px 16px 16px !important;
}

.collapse_tip {
  margin: 0 0 0 10px;
  color: var(--color_tip);
}

.space {
  margin: 0 0 10px;
}